:root {
  /*colors*/
  --dark-bg-color: #000000;
  --dark-color-second: #111111;
  --text-light-color: #b2b2b2;
  --base-color: #ffbb00;
  --dark-c10: #2e2e2e;
  --dark-c8: #595959;
  --lightest-color: #ffffff;
  --details-color: #ededed;
  --dark-base-color: #332200;
  --base-color-light-p2: #e4a30b;
  --base-color-p4: #664400;
  --dark-color-c6: #9c9c9c;
  --dark-color-c4: #cccccc;
  --dark-color-c9: #404040;
}
