:root {
  /*colors*/
  --dark-bg-color: #000000;
  --dark-color-second: #111111;
  --text-light-color: #b2b2b2;
  --base-color: #ffbb00;
  --dark-c10: #2e2e2e;
  --dark-c8: #595959;
  --lightest-color: #ffffff;
  --details-color: #ededed;
}
